.Searcher {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.Searcher__title {
  margin-bottom: 15px;
  font-size: 30px;
  color: white;
}

.Searcher__input-container {
  display: flex;
  width: 70%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.Searcher__results {
  width: 100%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-radius: 0 0 25px 25px;
  position: absolute;
  top: 50px;
  list-style: none;
  z-index: 1;
  overflow: hidden;
  background-color: #8f57fd;
  a {
    display: block;
    border-top: 2px solid white;
    padding: 10px 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    &:hover {
      color: #8f57fd;
      background-color: white;
    }
    &:first-child {
      border-top: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Searcher__title {
    font-size: 25px;
  }
}
